
:root {
    --body-background: #d9d9d9;
    --gray: rgb(80, 80, 80);
    --grayTable:#8b8b8b;
    --red: #bd2026;
    --black: #121212;
    --white: white;
    --resto-word: "Oswald", sans-serif;
    --Roboto: "Roboto", sans-serif;
    --Poppins: "Poppins", sans-serif;
    --Martel: "Martel Sans", sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--Poppins);
    user-select: none;
  } 
.search{
    align-items: center;
    justify-content: center;
    display:flex;
    padding-top: 20px;
 }

.box{
    border-radius: 5px;
    background-color:var(--white);
    border:2px solid var(--black);
    height:30px;
    width:40vh;
    margin:0 10px;
  }
  .nd{
    display: flex;
    width:100%;
  }

  .details{
     width:100%;
      display:flex;
      flex-direction:column;
      margin-top:20px;
      align-items: center;
      overflow-y: auto;
      max-height: 500px;
  }
  table{
      border-collapse:collapse;
      width:100%;
    }

  th{
     text-align:center;
     font-weight: bold;
     padding:15px;
  }

  td{
      padding: 15px;
      border:1px solid var(--white);
      text-align:left;
      font-size:15px;
      background-color:var(--body-background);
  }

  .hours{
      padding-left:30px;
  }

  .green{
      color:green;
      font-weight: bold;
  }

  .red{
      color:red;
      font-weight: bold;
  }

.icons-div{
  width:auto;
  display:flex;
  flex-direction: column;
  margin-top:65px;
 
 
} 

.icons{
  width:100%;
  display:flex;
  justify-content: space-around;
  gap:10px;
  margin-top:15px;
  margin-bottom:15px;
}
.reservation-part{
  height: 100%;
  width: 100%;
}
.table{
  width: auto;
}
thead{
  background-color:var(--grayTable);
  width: 100%;
}