/* :root {
  --body-background: #d9d9d9;
  --gray: rgb(80, 80, 80);
  --grayTable:#8b8b8b;
  --red: #bd2026;
  --black: #121212;
  --white: white;
  --resto-word: "Oswald", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --Martel: "Martel Sans", sans-serif;
} */


/* * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--Poppins);
  user-select: none;
}  */


 /* .K-Staff-kitchen-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}  */


.K-Staff-kitchen-dashboard {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;

  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}





.K-Staff-tr th {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.K-Staff-tbodytr td {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.K-Staff-tbodytr tr {
  transition: background-color 0.3s ease;
}


.K-Staff-tbodytr tr.accept {
  background-color: #d4edda;
}

.K-Staff-tbodytr tr.cancel {
  background-color: #f8d7da;
}
.K-Staff-tbodytr tr:hover {
  background-color: #c4c4c4;
}



.K-Staff-kitchen-dashboard{
   width:auto;
    display:flex;
    flex-direction:column;
    margin-top:20px;
    align-items: center;
    overflow-y: auto;
    max-height: 500px;
}


.K-Staff-order-detail{
  width: auto;
  display:flex;
  flex-direction:column;
  margin-top:10px;
  align-items: center;
  overflow-y: auto;
  max-height: 500px;
}


.K-Staff-order-detail {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin-top: 15px;
  text-align: left;
}

.K-Staff-order-detail h2 {
  margin-bottom: 10px;
}

.K-Staff-order-detail p {
  margin: 5px 0;
}

.K-Staff-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.K-Staff-button:first-of-type {
  background-color: #28a745;
  color: white;
}

.K-Staff-button:last-of-type {
  background-color: #dc3545;
  color: white;
}
