:root {
  --body-background: #d9d9d9;
  --gray: rgb(80, 80, 80);
  --red: #bd2026;
  --black: #121212;
  --white: white;
  --resto-word: "Oswald", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --Martel: "Martel Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--Poppins);
  user-select: none;
}

.content {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background-color: rgb(59, 59, 59);
  padding-top: 20px;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hostimage {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  margin: 10px;
}

span {
  color: var(--white);
  font-size: 20px;
  padding-left: 20px;
  margin-right: 20px;
}

ul {
  margin-top: 40px;
  list-style: none;
}

li {
  margin: 20px 0;
  padding-left: 20px;
}

a {
  display: table;
  width: 262px;
  padding: 10px;
  color: var(--white);
  position: relative;
  margin-left: 25px;
}

a:hover, .active a {
  background-color: var(--red);
  border-radius: 10px 0 0 10px;
}

.logout {
  position: absolute;
  bottom: 10px;
}

.right {
  width: 80%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.top {
  justify-content: space-between;
  display: flex;
  width: 100%;
  background-color: var(--white);
  height: 10%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.logoimage {
  width: auto;
  height: 30px;
  margin: 15px;
}

.profileimage {
  width: 30px;
  height: 30px;
  margin: 15px;
  border-radius: 100px;
}

.main {
  width: 100%;
  height: 90%;
}
