/* NotificationList.css */
.K-Staff-notification-list {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.K-Staff-notification-list h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #bd2026;
}

/* NotificationItem.css */
