/* NotificationItem.css */
.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .notification-item.pending {
    border-left: 5px solid #f39c12; /* Orange for pending */
  }
  
  .notification-item.forwarded {
    border-left: 5px solid #27ae60; /* Green for forwarded */
  }
  
  .notification-item p {
    flex: 1;
    margin: 0;
  }
  
  .notification-item button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #584e4e; /* Blue button */
    color: #fff;
    cursor: pointer;
  }
  
  .notification-item button:hover {
    background-color: #584e4e;
  }
  
  .notification-item span {
    color: #27ae60;
    font-weight: bold;
  }