
.dateandtime{
    display: flex;
    
}
.date,.time{
    width: 150px;
    padding-right:5%;
}
.preferedtime{
    display: flex;
}
h1{
    text-align: center;
}
label{
    font-weight: bold;
    font-size: 18px;
    
    
}
input{
    
    width: 80%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(110, 110, 110);
    
}

.booknow:hover {
    background-color: rgb(13, 99, 4);
    color:white;
}
.booknow{
    text-align: center;
    width: 470px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    
}
.frm{
    margin-top: 50px;
    margin-left: 50px;
   
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.preferedtime{
    margin-top: 10px;
    margin-bottom: 40px;
}
.preferedtime button{
    font-size: 16px;
    color: white;
    padding: 7px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(154, 4, 4);
    text-align: center;
}
.titleline{
   
    border: 1px solid rgb(120, 120, 120);
    margin-bottom: 30px;
    
}