* {
            
    margin: 0;
    padding: 0;
}


.reservation-header {
   
    background-color: #565656;
    padding: 22px;
    text-align: center;
}

.reservation-content{
    width:100%;
    display: flex;

}
.reservation-tables {
    width:60%;
    background-color: #797979;
    padding: 10px;
}

.reservation-booking {
    width:40%;
    background-color: #ffffff;
    padding: 20px;
}


.reservation-footer {
    background-color: #4285f4;
    padding: 20px;
    text-align: center;
}

