
 hr.short{
 width:140px;
 border: 2px solid rgb(91, 3, 3);
 margin-top: 10px;
 margin-bottom: 10px;
 }
 .main{
    display:flex
 }
 .vl {
    border-left: 6px solid rgb(128, 13, 0);
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;

  }
  .col2{
    display:flex
  }
  .col3{
    display:flex;
    
  }